{% extends 'base.html.twig' %}

{% block title %} Ajouter un produit. {% endblock %}

{% block body %} 
    <div class="container">
        <h1 class="display-4 text-center text-white bg-secondary sahdow-lg rounded col-7 mx-auto"> </h1>

        <div class="row justify-content-center ">

            {{ form_start (form, {'attr' : {'class' : 'col-lg-5 col-md-5 mx-auto my-5'}} ) }}

                {{ form_row(form.title, {'attr':{'placeholder' : "Saisir un titre", 'maxLength' : false, 'pattern' : false}, 'label' : "Nom du produit" }) }}
                {{ form_row(form.content, { 'label' : "Description du produit"}) }}
                {{ form_row(form.price, { 'label' : "Prix du produit" }, {'attr' : { 'rows' : 12}}) }}
                {{ form_row(form.picture, {'label' : " Photo du produit"}) }}
                {{ form_row(form.category, {'label' : "Catégorie du produit"}) }}

            <button type="submit" class="btn btn-primary ">Ajouter un produit</button>

            {{ form_end(form) }}
            <a href="{{ path('app_admin_products') }}" class="btn btn-light col-3 mb-3">RETOUR</a>

        
        </div>



    </div>

{% endblock %}
